.btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background-color: rgb(28, 183, 255);
    color: white;
    border-radius: 0.6rem;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-0.2rem);
}

.btn:active {
    transition-duration: 0.1s;
    transform: translateY(0);
}

.btn.transparent {
    background-color: transparent;
    color: rgb(227, 227, 227);
    border: 2px solid rgb(227, 227, 227);
    box-shadow: none;
}

.btn.transparent:hover {
    border-color: rgb(28, 183, 255);
    color: rgb(28, 183, 255);
}