.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;

    max-width: 1200px;
    width: 100%;
}

.btn_wrapper {
    width: 100%;
    max-width: 25rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 2px solid rgb(227, 227, 227);

    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5rem;

    margin-bottom: 1rem;
    border-radius: 0.6rem;
    text-align: left;

    transition: border-color 0.1s ease-in-out;
}

.btn:hover {
    border-color: #01326a;
}

.btn:active {
    border-color: #01326a;
}

.img {
    width: 100%;
    max-width: 40rem;
    transform: translateY(-2rem);
}