.container {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
}

.header {
    margin-bottom: 4rem;
}


.title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.quiz_item {
    margin-bottom: 1rem;
    border: 2px solid #01326a;
    color: #000;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

.quiz_item p, h2{
    color: inherit;
}

.quiz_item:hover {
    cursor: pointer;
    background-color: #01326a;
    color: white;
}