.result {
    margin-bottom: 2rem;
}


.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0.8rem 1.6rem;
    border: 2px solid rgb(227, 227, 227);
    width: fit-content;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border-radius: 0.6rem;
    text-align: left;
    margin-right: 1rem;
    transition: border-color 0.1s ease-in-out;
}

.btn:hover {
    border-color: #01326a;
}

.btn:active {
    border-color: #01326a;
}

.btn_wrapper {
    display: flex;
    align-items: center;
}